.titre {
	text-align: center;
	font-size: 50px;
}

.sous-titre {
	text-align: center;
}

img {
	width: 30%;
	padding-left: 30px;
	padding-bottom: 25px;
}

table, td, tr, th {
	border: 1px solid black;
	padding: 10px;
}

